﻿@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<div class="text-center">
    <form>
        <div>
            <label>Input: </label>
            <input type="number" id="number" name="number">
            <br/>
            <label style="color:red;font-weight:bold" id="error"> </label>
        </div>
        <br />
        <button type="button" id="convertBtn">Convert</button>
        <br />
        <br />
        <br />
        <div>
            <label>Output: </label>
            <label id="output"></label>
        </div>

    </form>
</div>
<script>
    $(document).ready(function (e) {
        $('#convertBtn').on('click', function () {

            if ($('#number').val() == 0) {
                $('#error').text("Please enter a number.")
            } else {
                $('#error').text("")
            }

            $.post('@Url.Action("ConvertNumber", "Home")/?number=' + $('#number').val(), '', function (data) {
                $('#output').text(data)

            })
        });
    })
</script>